<!-- IF S_PROCOM_VIEW -->
	<!-- IF S_PROCOM_POST -->
		<div class="panel bg2">
			<div class="inner">
				<h3>{L_PROCOM_POST_COMMENT}</h3>
				<form class="submit-profile-comment-form" method="post" action="">
					<div class="submit-profile-comment-wrapper">
						<textarea name="message" class="submit-profile-comment-message"></textarea>
					</div>
					<fieldset class="submit-buttons">
						<input type="submit" name="submit" class="button1" value="{L_SUBMIT}" />
						<input type="reset" name="reset" class="button2" value="{L_RESET}" />
					</fieldset>
				</form>
			</div>
		</div>
	<!-- ENDIF -->

	<div class="panel bg2">
		<div class="inner">
			<h3>{L_PROFILE_COMMENTS}</h3>
			
			<!-- BEGIN profile_comments -->
				<div class="profile-comment">
					<div class="inner">
						<dl class="profile-comment-profile">
							<dt class="profile-comment-avatar">
								{profile_comments.USERNAME_FROM}
							</dt>
						</dl>
						<div class="profile-comment-body">
							<div class="profile-comment-tools-bar">
								<span class="profile-comment-time">{profile_comments.TIME}</span>
								<ul class="profile-comment-tools">
									<!-- IF S_PROCOM_SOFT_DEL -->
										<li>
											<a href="" class="button icon-button delete-icon"><span>{L_DELETE}</span></a>
										</li>
									<!-- ENDIF -->
								</ul>
							</div>
							<div class="profile-comment-body-message">
								{profile_comments.MESSAGE}
							</div>
						</div>
					</div>
				</div>

				<hr />
			<!-- END profile_comments -->
		</div>
	</div>
<!-- ENDIF -->