
.submit-profile-comment-form {
	
}

.submit-profile-comment-wrapper {
	margin-top: 5px;
	width: 100%;
	padding: 5px 0;
	box-sizing: border-box;
}

.submit-profile-comment-message {
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	height: 50px;
}

.profile-comment-profile {
	border: 1px solid #fff;
	border-width: 0 1px 0 0;
	padding: 10px 10px 10px 5px;
	display: inline-block;
	width: 10%;
	float: left;
	text-align: right;
}

.profile-comment-body {
	float: right;
	width: 88%;
	display: inline-block;
}

.profile-comment-tools-bar {
	position: relative;
}
.profile-comment-tools a span {
	font-size: 70%;
}
.profile-comment-time {
	padding: 3px;
	font-size: 90%;
}

.profile-comment-tools {
	position: absolute;
	right: 0;
	margin: 0;
	top: 0;
	list-style-type: none;
}
.profile-comment-tools li {
	display: inline-block;
}

.profile-comment-body-message {
	padding: 7px 10px;
	font-size: 120%;
}
